.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f0f0f0; */
    background-color: #ffff;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-card {
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-image {
    flex: 1;
    overflow: hidden;
}

.signup-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.signup-form {
    flex: 1;
    padding: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 28rem;
    margin-top: 0.7rem;
}


.input-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #28a745;
    outline: none;
}

.input-group input:focus {
    outline-color: #007bff;
    border-color: #007bff;
}

.checkbox-label {
    margin-left: 5px;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #0056b3;
}